.gallery {
  #dropzone {
    width: 100%;
    border: dashed 1px blue;
    cursor: pointer;
    min-height: 200px;
    border-radius: 0;
    transition-duration: .3s;
    position: relative;

    &.dragover {
      border: solid 3px blue !important;
      border-radius: 10px;
    }
  }

  .gallery-images-container {
    position: relative;

    .image {
      border-radius: 25px;
      overflow: hidden;
      border: 1px gray dotted;
      padding: 1rem;
    }

    .delete-image-button {
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      background-color: red;
      color: white;
      padding-top: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 25px;
      cursor: pointer;

      &:hover {
        padding-top: 0;
        text-shadow: -1px 1px 2px #000;
        padding-left: 1px;
      }
    }

    .edit-image-button {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
      background-color: rgba(240, 120, 0, 1);
      color: white;
      padding-top: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-right-radius: 25px;
      cursor: pointer;

      &:hover {
        padding-top: 0;
        text-shadow: -1px 1px 2px #000;
        padding-left: 1px;
      }
    }
  }

  .progress-bar {
    position: relative;
    width: 50%;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;

    .upload-progress {
      position: absolute;
      top: 0;
      height: 100%;
      left: 0;
      width: 0;
      background-color: #3fdf3f;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: darkslategray;
      }
    }
  }
}