{% extends base_admin %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/cms_bundle') }}
    {{ encore_entry_link_tags('css/gallery') }}
{% endblock %}

{% trans_default_domain 'GalleryBundle' %}

{% block body %}
<div class="mt-3 gallery">
    {{ form_start(galleryForm) }}
    <div class="d-flex justify-content-between pb-2 mb-4 border-bottom">
        <h1><b>{{ 'gallery.edit'|trans() }}</b> {% if null != galleryForm.galleryName.vars.value %} - {{ galleryForm.galleryName.vars.value }}{% endif %}</h1>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-success d-flex justify-content-center align-items-center px-3 me-3" title="{{ 'save'|trans() }}"><i class="fa-solid fa-floppy-disk"></i></button>
            <a type="button" class="btn btn-outline-danger d-flex justify-content-center align-items-center px-3" title="{{ 'cancel'|trans() }}" href="{{ path('gallery_list') }}"><i class="fa-solid fa-door-open"></i></a>
        </div>
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message|trans }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="mt-2">
        <div class="row">
            <div class="col-12 col-md-6">
                {% if null != galleryForm.uuid.vars.value %}
                    <div id="dropzone" data-uuid="{{ uuid }}" class="h-100 checkboarded checkboarded-light d-flex justify-content-center align-items-center">
                        <p class="p-4"><b>{{ 'drag_drop'|trans() }}</b></p>
                    </div>
                {% else %}
                    Add
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <div class="card card-field w-100">
                    <div class="card-title px-3">
                        <b>{{ form_label(galleryForm.galleryName) }}</b>
                    </div>
                    <div class="card-body">
                        {{ form_widget(galleryForm.galleryName) }}
                    </div>
                </div>
                <div class="mt-3 card card-field w-100">
                    <div class="card-title px-3">
                        <b>{{ form_label(galleryForm.galleryDescription) }}</b>
                    </div>
                    <div class="card-body">
                        {{ form_widget(galleryForm.galleryDescription) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(galleryForm) }}
    {% if null != galleryForm.uuid.vars.value  %}
        <div class="my-5 row">
            <div class="col-12 border-bottom">
                <h2>Images (<span id="gallery-images-counter">{{ images|length }}</span>)</h2>
            </div>
            <div id="gallery-images" class="col-12 row">
                {% for image in images %}
                    <div class="gallery-images-container col-12 col-md-2 p-2 d-flex justify-content-center">
                        <div class="image d-flex justify-content-center align-items-center position-relative">
                            <img src="{{ thumbnail_path ~ '/' ~ image.galleryImageFilename }}" alt="{{ image.galleryImageName }}" style="width: auto; height: auto; max-width: 100%; max-height: 100%">
                            <div class="delete-image-button" data-uuid="{{ image.uuid }}" data-url="{{ path('gallery_delete_gallery_image') }}">
                                <i class="fa-solid fa-times"></i>
                            </div>
                            <div class="edit-image-button" data-uuid="{{ image.uuid }}" data-url="{{ path('gallery_edit_gallery_image') }}">
                                <i class="fa-solid fa-pen"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="modal" id="editImageModal" data-bs-backdrop="true">
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/gallery_bundle/gallery_dropzone') }}
    {% if null != galleryForm.uuid.vars.value  %}

    {% endif %}
{% endblock %}