<div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">{{ title }}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            {{ form_start(edit_image_form) }}
            {{ form_errors(edit_image_form.galleryImageName) }}
            {{ form_end(edit_image_form) }}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="save btn btn-success">Save</button>
            <button type="button" class="close btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
