{% extends base_admin %}

{% trans_default_domain 'GalleryBundle' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="mt-3">
        <div class="d-flex justify-content-between pb-2 mb-4 border-bottom">
            <h1><b>{{ 'gallery.list'|trans() }}</b></h1>
            <div class="d-flex justify-content-end">
                <a type="button" class="btn btn-outline-primary px-3 d-flex justify-content-center align-items-center px-3 me-3" title="{{ 'gallery.add'|trans() }}" href="{{ path('gallery_add') }}"><i class="fa-solid fa-plus"></i></a>
                <a type="button" class="btn btn-outline-danger d-flex justify-content-center align-items-center px-3" title="{{ 'cancel'|trans() }}" href="{{ path('admin_home') }}"><i class="fa-solid fa-door-open"></i></a>
            </div>
        </div>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'gallery.name'|trans() }}</th>
                <th scope="col">{{ 'gallery.nb_photos'|trans() }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for gallery in galleries %}
                <tr>
                    <th scope="row">{{ gallery.id }}</th>
                    <td>{{ gallery.galleryName }}</td>
                    <td>{{ gallery.galleryImages|length }}</td>
                    <td style="text-align: right">
                        <div class="d-flex justify-content-end">
                            <a class="d-block btn btn-sm btn-outline-warning" href="{{ path('gallery_edit', {'uuid': gallery.uuid}) }}" title="{{ 'template.edit'|trans }}"><i class="fa-solid fa-pen fa-fw"></i></a>
                            <a class="ms-3 d-block btn btn-sm btn-outline-danger delete-item" data-uuid="{{ gallery.uuid }}" data-message="{{ 'template.delete_message'|trans({}, 'CMSBundle') }}" data-url="{{ path('admin_cms_template_delete') }}" title="{{ 'template.delete'|trans({}, 'CMSBundle') }}"><i class="fa-solid fa-trash fa-fw"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}